body {
  background-color: #708090;
  color: azure;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


footer, header {
  margin: 1rem;
  text-align: center;
  color: #F9F871;
}

.location { 
  border: 1px solid azure;
  border-radius: 5px;
  padding: 1rem;
  width: auto;
  max-width: max-content;
  /* height: auto; */
  background-color: dimgray;
}

.formContainer {
  /* align-items: center; */
  /* text-align:left; */
  background-color: dimgray;
  width: 40%;
  height: 5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1rem;
  /* margin: auto; */
}

.weatherList { 
  margin: auto;
  width: 85%;
  height: auto;
  list-style-type: none;
  padding: 0;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}

.weatherHeader, .moviesHeader {
  text-align: center;
  color:#F9F871;
}

.weatherDay {
  width: 150px;
  margin: 2px;
  border: 2px solid black;
  background-color: dimgray;
  border-radius: 5px;
}

.movieCards{

  display: flex;
  justify-content: space-evenly;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
